<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
       .box {
           -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
           -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
           box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
           height: 600px;
           width: 800px;
           background: cadetblue;
           text-align: center;
           margin-top: 2%;
           margin-left: 15%;
       }
    </style>
</head>
<body>
<div class="container align-content-center">
    <div class="box">
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Pesel</th>
                <th scope="col">Borrow</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="u : ${users}">
                <th scope="row" th:text="${u.id}"></th>
                <td th:text="${u.firstName}"></td>
                <td th:text="${u.lastName}"></td>
                <td th:text="${u.pesel}"></td>
                <td><a class="btn btn-danger" th:href="@{'/publication/' + ${u.id} + '/'+ ${id_publication} + '/'+ ${type} + '/saveBorrow'}">Borrow</a></td>
            </tr>
            </tbody>
        </table>

    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>



</body>
</html>